#!/usr/bin/env bash
source ./scripts/utils.sh

export PROJECT=nv-lib-template
export VERSION=$(get_version)

# Registry Configuration
export GCP_REGISTRY_PROJECT_ID=devops-466002
export GCP_REGISTRY_REGION=us-east1
export GCP_REGISTRY_NAME=cloudvoyant-generic-registry
